@import '../../main-styles.scss';

.budget-items {
	display: flex;
	padding: 50px;
	
	justify-content: center;
	align-items: center;
	
	.budget-items-container {
		display: flex;
		max-width: 680px;
		height: 100%;
		width: 100%;
		
		.income-column, .expenses-column {
			display: flex;
			flex-direction: column;
			flex-basis: 0;
			flex-grow: 1;
			
			h1 {
				font-family: 'Lato', sans-serif;
				font-size: 24px;
				font-weight: 900;
				text-transform: uppercase;
			}
			
			app-budget-item-card {
				display: block;
				margin-bottom: 20px;
			}
			
			.budget-item {
				display: flex;
				flex-direction: column;
				margin-top: 20px;
			}
		}
		
		.income-column {
			margin-right: 35px;
			
			h1 {
				color: $green;
			}
		}
		
		.expenses-column {
			h1 {
				color: $red;
			}
		}
	}
}
