@import '../../main-styles.scss';

.header {
  display: flex;
  width: 100%;
  height: 40px;
  background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: $dark;
  }
}

.final-amount {
  display: flex;
  height: 100px;
  background: $dark;

  justify-content: center;
  align-items: center;

  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 58px;
    color: white;

    &.green {
      color: lighten($green, 12%);
    }
    &.red {
      color: lighten($red, 12%);
    }
  }
}

.add-item {
  display: flex;

  justify-content: center;
  align-items: center;

  .add-item-container {
    width: 680px;
  
    app-add-item-form {
      padding: 20px;
    }
  }
}

hr {
  margin-top: 0;
}
