.header {
  display: flex;
  width: 100%;
  height: 68px;
  background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
  }
}
